USE [Airline]
GO
/****** Object:  Table [dbo].[Airport]    Script Date: 4/15/2023 12:11:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Airport](
	[AirportCode] [char](3) NOT NULL,
	[AirportName] [varchar](50) NOT NULL,
	[ContactNo] [numeric](18, 0) NOT NULL,
	[Longitude] [float] NOT NULL,
	[Latitude] [float] NOT NULL,
	[CountryCode] [char](3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AirportCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Country]    Script Date: 4/15/2023 12:11:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Country](
	[CountryName] [varchar](50) NOT NULL,
	[CountryCode] [char](3) NOT NULL,
 CONSTRAINT [country_pk] PRIMARY KEY CLUSTERED 
(
	[CountryCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Flight]    Script Date: 4/15/2023 12:11:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Flight](
	[FlightNo] [varchar](10) NOT NULL,
	[FlightDepartTo] [char](3) NOT NULL,
	[FlightArriveFrom] [char](3) NOT NULL,
	[Distance] [int] NOT NULL,
 CONSTRAINT [FlightNo_pk] PRIMARY KEY CLUSTERED 
(
	[FlightNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FlightAttendant]    Script Date: 4/15/2023 12:11:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FlightAttendant](
	[AttendantID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[DOB] [date] NOT NULL,
	[HireDate] [date] NOT NULL,
	[MentorID] [int] NULL,
 CONSTRAINT [attendantID_pk] PRIMARY KEY CLUSTERED 
(
	[AttendantID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FlightInstance]    Script Date: 4/15/2023 12:11:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FlightInstance](
	[InstanceID] [int] IDENTITY(1,1) NOT NULL,
	[FlightNo] [varchar](10) NOT NULL,
	[PlaneID] [int] NOT NULL,
	[PilotAboardID] [int] NOT NULL,
	[CoPilotAboardID] [int] NOT NULL,
	[FSM_AttendantID] [int] NOT NULL,
	[DateTimeLeave] [datetime] NOT NULL,
	[DateTimeArrive] [datetime] NOT NULL,
 CONSTRAINT [InstanceId_pk] PRIMARY KEY CLUSTERED 
(
	[InstanceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InstanceAttendant]    Script Date: 4/15/2023 12:11:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InstanceAttendant](
	[InstanceID] [int] NOT NULL,
	[AttendantID] [int] NOT NULL,
 CONSTRAINT [InstanceAttendantID_pk] PRIMARY KEY CLUSTERED 
(
	[InstanceID] ASC,
	[AttendantID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pilot]    Script Date: 4/15/2023 12:11:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pilot](
	[PilotID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[DOB] [date] NOT NULL,
	[HoursFlown] [smallint] NOT NULL,
 CONSTRAINT [PilotId_pk] PRIMARY KEY CLUSTERED 
(
	[PilotID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlaneDetail]    Script Date: 4/15/2023 12:11:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlaneDetail](
	[PlaneID] [int] IDENTITY(1,1) NOT NULL,
	[ModelNumber] [varchar](10) NOT NULL,
	[RegistrationNo] [varchar](10) NOT NULL,
	[BuiltYear] [smallint] NOT NULL,
	[FirstClassCapacity] [smallint] NOT NULL,
	[EcoCapacity] [smallint] NOT NULL,
 CONSTRAINT [PlaneId_pk] PRIMARY KEY CLUSTERED 
(
	[PlaneID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlaneModel]    Script Date: 4/15/2023 12:11:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlaneModel](
	[ModelNumber] [varchar](10) NOT NULL,
	[ManufacturerName] [varchar](50) NOT NULL,
	[PlaneRange] [smallint] NOT NULL,
	[CruiseSpeed] [smallint] NOT NULL,
 CONSTRAINT [ModelN_pk] PRIMARY KEY CLUSTERED 
(
	[ModelNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlanePilot]    Script Date: 4/15/2023 12:11:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlanePilot](
	[PlaneModel] [varchar](10) NOT NULL,
	[PilotID] [int] NOT NULL,
 CONSTRAINT [planePilot_pk] PRIMARY KEY CLUSTERED 
(
	[PilotID] ASC,
	[PlaneModel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Airport] ([AirportCode], [AirportName], [ContactNo], [Longitude], [Latitude], [CountryCode]) VALUES (N'ABC', N'Abc Airport', CAST(985485893 AS Numeric(18, 0)), 43.221, 44.54, N'ENG')
INSERT [dbo].[Airport] ([AirportCode], [AirportName], [ContactNo], [Longitude], [Latitude], [CountryCode]) VALUES (N'AKL', N'Auckland Airport', CAST(6492750789 AS Numeric(18, 0)), 37.0082, 174.785, N'NZL')
INSERT [dbo].[Airport] ([AirportCode], [AirportName], [ContactNo], [Longitude], [Latitude], [CountryCode]) VALUES (N'DXB', N'Dubai International Airport', CAST(6494544432 AS Numeric(18, 0)), 56.54, 33.33, N'UAE')
GO
INSERT [dbo].[Country] ([CountryName], [CountryCode]) VALUES (N'Australia', N'AUS')
INSERT [dbo].[Country] ([CountryName], [CountryCode]) VALUES (N'Austria', N'AUT')
INSERT [dbo].[Country] ([CountryName], [CountryCode]) VALUES (N'Belgium', N'BEL')
GO
INSERT [dbo].[Flight] ([FlightNo], [FlightDepartTo], [FlightArriveFrom], [Distance]) VALUES (N'ABC123', N'TIA', N'SYD', 5500)
INSERT [dbo].[Flight] ([FlightNo], [FlightDepartTo], [FlightArriveFrom], [Distance]) VALUES (N'ABC987', N'PER', N'TIA', 8800)
INSERT [dbo].[Flight] ([FlightNo], [FlightDepartTo], [FlightArriveFrom], [Distance]) VALUES (N'JKL980', N'MEL', N'TIA', 9800)
GO
SET IDENTITY_INSERT [dbo].[FlightAttendant] ON 

INSERT [dbo].[FlightAttendant] ([AttendantID], [FirstName], [LastName], [DOB], [HireDate], [MentorID]) VALUES (1, N'Pramesh', N'Shrestha', CAST(N'1989-04-25' AS Date), CAST(N'2004-04-25' AS Date), 6)
INSERT [dbo].[FlightAttendant] ([AttendantID], [FirstName], [LastName], [DOB], [HireDate], [MentorID]) VALUES (2, N'John', N'Rai', CAST(N'1979-04-22' AS Date), CAST(N'2005-04-25' AS Date), 3)
INSERT [dbo].[FlightAttendant] ([AttendantID], [FirstName], [LastName], [DOB], [HireDate], [MentorID]) VALUES (3, N'Mike', N'Magar', CAST(N'1990-04-22' AS Date), CAST(N'2010-04-25' AS Date), 5)
SET IDENTITY_INSERT [dbo].[FlightAttendant] OFF
GO
SET IDENTITY_INSERT [dbo].[FlightInstance] ON 

INSERT [dbo].[FlightInstance] ([InstanceID], [FlightNo], [PlaneID], [PilotAboardID], [CoPilotAboardID], [FSM_AttendantID], [DateTimeLeave], [DateTimeArrive]) VALUES (1, N'PRA172', 3, 1, 2, 5, CAST(N'2015-12-11T10:30:00.000' AS DateTime), CAST(N'2015-12-14T10:30:00.000' AS DateTime))
INSERT [dbo].[FlightInstance] ([InstanceID], [FlightNo], [PlaneID], [PilotAboardID], [CoPilotAboardID], [FSM_AttendantID], [DateTimeLeave], [DateTimeArrive]) VALUES (2, N'XCF123', 3, 2, 3, 1, CAST(N'2015-12-11T10:30:00.000' AS DateTime), CAST(N'2015-12-14T10:30:00.000' AS DateTime))
INSERT [dbo].[FlightInstance] ([InstanceID], [FlightNo], [PlaneID], [PilotAboardID], [CoPilotAboardID], [FSM_AttendantID], [DateTimeLeave], [DateTimeArrive]) VALUES (3, N'JKL980', 4, 3, 1, 2, CAST(N'2015-12-11T10:30:00.000' AS DateTime), CAST(N'2015-12-14T10:30:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[FlightInstance] OFF
GO
INSERT [dbo].[InstanceAttendant] ([InstanceID], [AttendantID]) VALUES (1, 2)
INSERT [dbo].[InstanceAttendant] ([InstanceID], [AttendantID]) VALUES (1, 7)
INSERT [dbo].[InstanceAttendant] ([InstanceID], [AttendantID]) VALUES (2, 1)
GO
SET IDENTITY_INSERT [dbo].[Pilot] ON 

INSERT [dbo].[Pilot] ([PilotID], [FirstName], [LastName], [DOB], [HoursFlown]) VALUES (1, N'Pramesh', N'Shrestha', CAST(N'1989-04-25' AS Date), 5)
INSERT [dbo].[Pilot] ([PilotID], [FirstName], [LastName], [DOB], [HoursFlown]) VALUES (2, N'Maila', N'Battard', CAST(N'2002-11-15' AS Date), 10)
INSERT [dbo].[Pilot] ([PilotID], [FirstName], [LastName], [DOB], [HoursFlown]) VALUES (3, N'Tom', N'Hardy', CAST(N'1977-09-15' AS Date), 39)
SET IDENTITY_INSERT [dbo].[Pilot] OFF
GO
SET IDENTITY_INSERT [dbo].[PlaneDetail] ON 

INSERT [dbo].[PlaneDetail] ([PlaneID], [ModelNumber], [RegistrationNo], [BuiltYear], [FirstClassCapacity], [EcoCapacity]) VALUES (1, N'A390', N'AU-1989', 1989, 50, 50)
INSERT [dbo].[PlaneDetail] ([PlaneID], [ModelNumber], [RegistrationNo], [BuiltYear], [FirstClassCapacity], [EcoCapacity]) VALUES (2, N'A380', N'AU-2000', 2000, 100, 200)
INSERT [dbo].[PlaneDetail] ([PlaneID], [ModelNumber], [RegistrationNo], [BuiltYear], [FirstClassCapacity], [EcoCapacity]) VALUES (3, N'A300', N'AU-1970', 1970, 200, 350)
SET IDENTITY_INSERT [dbo].[PlaneDetail] OFF
GO
INSERT [dbo].[PlaneModel] ([ModelNumber], [ManufacturerName], [PlaneRange], [CruiseSpeed]) VALUES (N'737', N'Boeing', 5600, 780)
INSERT [dbo].[PlaneModel] ([ModelNumber], [ManufacturerName], [PlaneRange], [CruiseSpeed]) VALUES (N'777', N'Boeing', 10000, 892)
INSERT [dbo].[PlaneModel] ([ModelNumber], [ManufacturerName], [PlaneRange], [CruiseSpeed]) VALUES (N'779', N'Boeing', 17000, 922)
GO
INSERT [dbo].[PlanePilot] ([PlaneModel], [PilotID]) VALUES (N'737', 1)
INSERT [dbo].[PlanePilot] ([PlaneModel], [PilotID]) VALUES (N'777', 1)
INSERT [dbo].[PlanePilot] ([PlaneModel], [PilotID]) VALUES (N'A340', 1)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Country_name_uk]    Script Date: 4/15/2023 12:11:13 PM ******/
ALTER TABLE [dbo].[Country] ADD  CONSTRAINT [Country_name_uk] UNIQUE NONCLUSTERED 
(
	[CountryName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RegNO_uk]    Script Date: 4/15/2023 12:11:13 PM ******/
ALTER TABLE [dbo].[PlaneDetail] ADD  CONSTRAINT [RegNO_uk] UNIQUE NONCLUSTERED 
(
	[RegistrationNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Airport]  WITH CHECK ADD  CONSTRAINT [CountryCode_fk] FOREIGN KEY([CountryCode])
REFERENCES [dbo].[Country] ([CountryCode])
GO
ALTER TABLE [dbo].[Airport] CHECK CONSTRAINT [CountryCode_fk]
GO
ALTER TABLE [dbo].[Flight]  WITH CHECK ADD  CONSTRAINT [FLightArriceFrom_fk] FOREIGN KEY([FlightArriveFrom])
REFERENCES [dbo].[Airport] ([AirportCode])
GO
ALTER TABLE [dbo].[Flight] CHECK CONSTRAINT [FLightArriceFrom_fk]
GO
ALTER TABLE [dbo].[Flight]  WITH CHECK ADD  CONSTRAINT [FLightDepartTo_fk] FOREIGN KEY([FlightDepartTo])
REFERENCES [dbo].[Airport] ([AirportCode])
GO
ALTER TABLE [dbo].[Flight] CHECK CONSTRAINT [FLightDepartTo_fk]
GO
ALTER TABLE [dbo].[FlightAttendant]  WITH CHECK ADD  CONSTRAINT [mentorID_fk] FOREIGN KEY([MentorID])
REFERENCES [dbo].[FlightAttendant] ([AttendantID])
GO
ALTER TABLE [dbo].[FlightAttendant] CHECK CONSTRAINT [mentorID_fk]
GO
ALTER TABLE [dbo].[FlightInstance]  WITH CHECK ADD  CONSTRAINT [CoPilotAboardId_fk] FOREIGN KEY([CoPilotAboardID])
REFERENCES [dbo].[Pilot] ([PilotID])
GO
ALTER TABLE [dbo].[FlightInstance] CHECK CONSTRAINT [CoPilotAboardId_fk]
GO
ALTER TABLE [dbo].[FlightInstance]  WITH CHECK ADD  CONSTRAINT [FlightNo_fk] FOREIGN KEY([FlightNo])
REFERENCES [dbo].[Flight] ([FlightNo])
GO
ALTER TABLE [dbo].[FlightInstance] CHECK CONSTRAINT [FlightNo_fk]
GO
ALTER TABLE [dbo].[FlightInstance]  WITH CHECK ADD  CONSTRAINT [FSM_AttendantID] FOREIGN KEY([FSM_AttendantID])
REFERENCES [dbo].[FlightAttendant] ([AttendantID])
GO
ALTER TABLE [dbo].[FlightInstance] CHECK CONSTRAINT [FSM_AttendantID]
GO
ALTER TABLE [dbo].[FlightInstance]  WITH CHECK ADD  CONSTRAINT [PilotAboardId_fk] FOREIGN KEY([PilotAboardID])
REFERENCES [dbo].[Pilot] ([PilotID])
GO
ALTER TABLE [dbo].[FlightInstance] CHECK CONSTRAINT [PilotAboardId_fk]
GO
ALTER TABLE [dbo].[FlightInstance]  WITH CHECK ADD  CONSTRAINT [PlaneID_fk] FOREIGN KEY([PlaneID])
REFERENCES [dbo].[PlaneDetail] ([PlaneID])
GO
ALTER TABLE [dbo].[FlightInstance] CHECK CONSTRAINT [PlaneID_fk]
GO
ALTER TABLE [dbo].[InstanceAttendant]  WITH CHECK ADD  CONSTRAINT [AttendantId_fk] FOREIGN KEY([AttendantID])
REFERENCES [dbo].[FlightAttendant] ([AttendantID])
GO
ALTER TABLE [dbo].[InstanceAttendant] CHECK CONSTRAINT [AttendantId_fk]
GO
ALTER TABLE [dbo].[InstanceAttendant]  WITH CHECK ADD  CONSTRAINT [InstanceId_fk] FOREIGN KEY([InstanceID])
REFERENCES [dbo].[FlightInstance] ([InstanceID])
GO
ALTER TABLE [dbo].[InstanceAttendant] CHECK CONSTRAINT [InstanceId_fk]
GO
ALTER TABLE [dbo].[PlaneDetail]  WITH CHECK ADD  CONSTRAINT [ModelN_fk] FOREIGN KEY([ModelNumber])
REFERENCES [dbo].[PlaneModel] ([ModelNumber])
GO
ALTER TABLE [dbo].[PlaneDetail] CHECK CONSTRAINT [ModelN_fk]
GO
ALTER TABLE [dbo].[PlanePilot]  WITH CHECK ADD  CONSTRAINT [PilotID_fk] FOREIGN KEY([PilotID])
REFERENCES [dbo].[Pilot] ([PilotID])
GO
ALTER TABLE [dbo].[PlanePilot] CHECK CONSTRAINT [PilotID_fk]
GO
ALTER TABLE [dbo].[PlanePilot]  WITH CHECK ADD  CONSTRAINT [PlaneModel_fk] FOREIGN KEY([PlaneModel])
REFERENCES [dbo].[PlaneModel] ([ModelNumber])
GO
ALTER TABLE [dbo].[PlanePilot] CHECK CONSTRAINT [PlaneModel_fk]
GO
ALTER TABLE [dbo].[Flight]  WITH CHECK ADD  CONSTRAINT [FlightArriveFrom] CHECK  (([FlightArriveFrom]<>[FlightDepartTo]))
GO
ALTER TABLE [dbo].[Flight] CHECK CONSTRAINT [FlightArriveFrom]
GO
ALTER TABLE [dbo].[FlightInstance]  WITH CHECK ADD  CONSTRAINT [CoPilodAboardId_fk] CHECK  (([CoPilotAboardId]<>[PilotAboardID]))
GO
ALTER TABLE [dbo].[FlightInstance] CHECK CONSTRAINT [CoPilodAboardId_fk]
GO
ALTER TABLE [dbo].[FlightInstance]  WITH CHECK ADD  CONSTRAINT [DateTimeArrive_ck] CHECK  (([DateTimeArrive]>[DateTimeLeave]))
GO
ALTER TABLE [dbo].[FlightInstance] CHECK CONSTRAINT [DateTimeArrive_ck]
GO
